* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#2C3E50, #95A5A6);
}

button {
    cursor: pointer;
    width: 100%;
}

button.download {
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: 280px;
    padding: 20px;
    background-color: rgba(80, 62, 44, 0.3);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.videoMeta {
    text-align: center;
    color: #BDC3C7;
    margin-bottom: 5px;
}

form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    margin-bottom: 5px;
}

form input {
    padding: 5px;
}